body{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.avatar{
   max-width: 150px;
   border-radius: 50%;
}
.container{
   max-width: 750px;
   margin: auto;
}
.card{
   background-color: rgb(182, 181, 108);
   padding: 15px 30px;
   border-radius: 20px;
   
   margin-bottom: 20px;
}

.bg-yellow{
   background: #fff9dc;
}
.bg-green{
   background: #e5ffe5;
}
.bg-red{
   background: #ffe5e5;
}

p{
   font-size: 18px;
   margin-left: 10px;

}

a{
   text-decoration: none;
   color: black;
}
a:hover{
   color: blue;
}
td{
   padding: 0px 50px 0px 0px;
}